

/* Sidebar header (and topbar for mobile) */
/* .wy-side-nav-search, .wy-nav-top {
    background: #0b750a;
} */

/* Sidebar */
/* .wy-nav-side {
    accent-color: #ff0000;
} */


.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #0b750a;
}

a {
    color: #0b750a; 
}

